html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
    background: #3d3d3d; 
    color: #f7f7f7; 
    margin: 3rem; 
}

p {
    text-align: left;
    font-family: 'Trebuchet MS', sans-serif;
    max-width: 30rem;
    margin: auto;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h1 {
    text-align: center;
    font-family: 'Georgia', serif;
}

#map {
    height: 400px;
    width: 700px;
    margin: auto;
    border: 1px solid #999;
}

a {
    color: #959bf3;
}

a:hover {
    color: #e8eaff;
}

@media screen and (max-width: 800px){
    body {
        margin: 1rem;
    }

    #map {
        height: 300px;
        width: 340px;
    }
}